[Desktop Entry]
Name=FileCrypto
Exec=/usr/bin/file-crypto-gtk
Icon=gtk-convert
Terminal=false
Type=Application
Categories=Utility;GTK;Security;FileTools;
